

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 内容系统 - 文章列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">作业状态</label>
            <div class="layui-input-inline">
              <select name="submitted" lay-verify="required">
                <option value="0">未提交</option>
                <option value="1">已提交</option>
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">截止日期</label>
            <div class="layui-input-inline" >
              <input type="text" name="deadline" class="layui-input" id="deadline" autocomplete="off" placeholder="请选择截止日期">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-homework-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="layui-card-body">
        <table id="LAY-app-homework-list" lay-filter="LAY-app-homework-list"></table> 
        <script type="text/html" id="buttonTpl-submitted">
          {{#  if(d.submitted == 1){ }}
            <button class="layui-btn layui-btn layui-btn-normal layui-btn-xs">已提交</button>
          {{#  } else { }}
            <button class="layui-btn  layui-btn-xs">未提交</button>
          {{#  } }}
        </script>
        <script type="text/html" id="buttonTpl-isCheck">
          {{#  if(d.isCheck == 1 && d.textRepeat <= 0.20){ }}
              <button class="layui-btn layui-btn-xs layui-btn-primary" >重复率:{{d.textRepeat}}</button>
          {{#  } else if(d.isCheck == 1 && d.textRepeat <= 0.30) { }}
              <button class="layui-btn layui-btn-xs layui-btn-warm" >重复率:{{d.textRepeat}}</button>
          {{#  } else if(d.isCheck == 1 ) { }}
              <button class="layui-btn layui-btn-xs layui-btn-danger" >重复率:{{d.textRepeat}}</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">未查重</button>
          {{#  } }}
        </script>
        <script type="text/html" id="table-content-list">
          {{#  if(d.filePath != null ){ }}
            <!-- <a class="layui-btn layui-bg-cyan layui-btn-xs" lay-event="down">下载附件</a> -->
            <a class="layui-btn layui-bg-cyan layui-btn-xs">下载附件</a>
          {{#  } else { }}
            <a class="layui-btn layui-btn-primary layui-btn-xs">无需附件</a>
          {{#  } }}
          <!-- <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a> -->
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="details">作业详情</a>
          {{#  if(d.submitted == 1 ){ }}
            <a class="layui-btn layui-btn-primary layui-btn-xs">已交作业</a>
          {{#  } else { }}
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="submit-homework">上交作业</a>
          {{#  } }}
        </script>
      </div>
    </div>
  </div>

  <script src="../../../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
    ,studentlist: 'student/studentlist'
  }).use(['index' ,'studentlist', 'table'], function(){
    var table = layui.table
    ,admin = layui.admin
    ,laydate = layui.laydate
    ,form = layui.form;
    
    //监听搜索
    form.on('submit(LAY-app-homework-search)', function(data){
      var field = data.field;
    

      //执行重载
      table.reload('LAY-app-homework-list', {
        where: field
      });
    });
    
    //执行一个laydate实例【日期选择】
    laydate.render({
      elem: '#deadline' //指定元素
      // ,show: true //直接显示
      ,trigger: 'click' //采用click弹出
      ,theme: 'molv'
      ,format: 'yyyy-MM-dd HH:mm:ss' //可任意组合
    });

    var $ = layui.$, active = {

    }; 

    $('.layui-btn.layuiadmin-btn-list').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

  });
  </script>
</body>
</html>
