<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 内容系统 - 文章列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline" style="display: none;">
            <label class="layui-form-label" >作业Id</label>
            <div class="layui-input-inline" >
              <input type="text" name="homeworkId" id="homeworkId" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">班级</label>
            <div class="layui-input-inline">
              <select name="clazzId"  id="clazzIdSelect" lay-verify="required">
                <option value="">直接选择或搜索选择</option>
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">作业状态</label>
            <div class="layui-input-inline">
              <select name="submitted" lay-verify="required">
                <option value="-1">无条件</option>
                <option value="0">未提交</option>
                <option value="1">已提交</option>
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">开始日期</label>
            <div class="layui-input-inline" >
              <input type="text" name="startTime" class="layui-input" id="startTime" autocomplete="off" placeholder="请选择开始日期">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">截止日期</label>
            <div class="layui-input-inline" >
              <input type="text" name="deadline" class="layui-input" id="deadline" autocomplete="off" placeholder="请选择截止日期">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-details-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="layui-card-body">

        <ul class="layui-nav" style="text-align: center;">
          <div style="float:right;margin-top: 35px;margin-right: 21px" >
            <button class="layui-btn layui-btn-xs layuiadmin-btn-list" data-type="downAll">打包下载附件</button>
            <button class="layui-btn layui-btn-xs layuiadmin-btn-list" data-type="checkAll">一件查重</button>
          </div>

          <div style="display: inline-block">
            <li class="">
              <div><b id="homeworkName"></b></div>
            </li>
            <div style="margin-top: -10px;">
              <li class="layui-nav-item">
                <div><b id="curClazzNmae"></b></div>
              </li>
              <li class="layui-nav-item">
                <a >上交人数<span class="layui-badge layui-bg-green" id="curClazzSubmitted">9</span></a>
              </li>
              &nbsp;&nbsp;
              <li class="layui-nav-item">
                <a >未交人数<span class="layui-badge" id="curClazzNoSubmitted">10</span></a>
              </li>
            </div>
          </div>


        </ul>


        <table id="LAY-app-details-list" lay-filter="LAY-app-details-list"></table> 
        <script type="text/html" id="buttonTpl-submitted">
          {{#  if(d.submitted == 1){ }}
            <button class="layui-btn layui-btn-xs">已上交</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">未上交</button>
          {{#  } }}
        </script>

        <script type="text/html" id="buttonTpl-isCheck">
          {{#  if(d.isCheck == 1 && d.textRepeat <= 20){ }}
              <span class="layui-badge-dot layui-bg-green"></span>&nbsp;重复率:{{d.textRepeat}}%
          {{#  } else if(d.isCheck == 1 && d.textRepeat <= 30) { }}
              <span class="layui-badge-dot layui-bg-orange"></span>&nbsp;重复率:{{d.textRepeat}}%
          {{#  } else if(d.isCheck == 1 ) { }}
              <span class="layui-badge-dot"></span>&nbsp;重复率:{{d.textRepeat}}%
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">未查重</button>
          {{#  } }}
        </script>
        <script type="text/html" id="table-content-list">
          <a class="layui-btn  layui-btn-xs layui-btn-radius"  lay-event="check"><i class="layui-icon layui-icon-find-fill"></i>查重</a>
          {{#  if(d.isCheck == 1){ }}
            <button class="layui-btn layui-btn-normal  layui-btn-xs" lay-event="checkDetails">查重详情</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-disabled layui-btn-xs">暂未查重</button>
          {{#  } }}
          <a class="layui-btn layui-bg-cyan  layui-btn-xs layui-btn-radius" lay-event="down"><i class="layui-icon layui-icon-download-circle"></i>下载附件</a>
        </script>
      </div>
    </div>
  </div>

  <script src="../../../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
    ,teacherlist: 'teacher/teacherlist'
  }).use(['index' ,'teacherlist', 'table', 'layer'], function(){
    var table = layui.table
    ,admin = layui.admin
    ,form = layui.form
    ,setter = layui.setter
    ,upload = layui.upload
    , $ = layui.$
    ,laydate = layui.laydate

    //获取地址栏后的参数方法
    function _get(name){     
      var  reg = new  RegExp("(^|&)" + name + "=([^&]*)(&|$)");     
      var  r = window.location.search.substr(1).match(reg);     
      if(r != null){
        return   decodeURI(r[2]);
      }else{
        return  null;
      }
    }

    //初次加载(条件表单赋值)
    homeworkId = _get('homeworkId');
    $('#homeworkId').val(homeworkId);



    //初次加载(判断条件)
    if(homeworkId == null){
      layer.msg('请先查询已发布作业', {
        offset: '15px'
        ,icon: 5
        ,time: 1000
      }, function(){
        parent.layui.index.openTabsPage('homework/list.html', '作业管理')
      });
    }


    //初次加载 导航显示 homeworkName
    $("#homeworkName").html(_get('name'));
    console.log(_get('name'))
    $("#curClazzNmae").html("作业总计");
    $("#curClazzSubmitted").html(_get('submitted'));
    $("#curClazzNoSubmitted").html(_get('total') - _get('submitted'));


    //老师作业详情列表
    table.render({
      elem: '#LAY-app-details-list'
      ,url: layui.setter.reqUrl + '/homework/listByPageForDetails' //模拟接口
      ,headers: {
        'teacher_access_token': layui.data(setter.tableName).teacher_access_token
      }
      ,where: {
        'homeworkId': homeworkId
      }
      ,initSort: {
        field: 'id' //排序字段，对应 cols 设定的各字段名
        ,type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
      }
      ,cols: [[
        {type: 'checkbox', fixed: 'left'}
        ,{field: 'id', width: 100, title: 'ID', sort: true}
        ,{field: 'homeworkName', title: '作业名称', minWidth: 100}
        ,{field: 'clazzName', title: '班级名称'}
        ,{field: 'studentName', title: '学生姓名'}
        ,{field: 'submitted', title: '上交情况', templet: '#buttonTpl-submitted', minWidth: 80, align: 'center'}
        ,{field: 'isCheck', title: '查重情况', templet: '#buttonTpl-isCheck', minWidth: 80, align: 'center'}
        ,{field: 'deadline', title: '截止日期', width: 180 , align: 'center'}
        ,{title: '操作', minWidth: 250, align: 'center', fixed: 'right', templet: '#table-content-list', toolbar: '#table-content-list'}
      ]]
      ,page: true
      ,limit: 30
      ,limits: [10, 15, 20, 25, 30]
      ,text: '对不起，加载出现异常！'
    });



    //请求后端当前作业下属班级列表
    //带输入的选择框【查询班级】
    var htmls = '<option value="-1">无条件</option>'; //全局变量
    admin.req({
        url: layui.setter.reqUrl + '/homework/listHomeworkClazz' //实际使用请改成服务端真实接口
        ,type: 'post'
        ,data: {
          'homeworkId': homeworkId
        }
        ,done: function(res){
          var homeworkClazzList = res.data;
          for(var index in homeworkClazzList){
            htmls += '<option value = "' + homeworkClazzList[index].clazzId + '">' + homeworkClazzList[index].clazzName + '</option>'
          }

          console.log("ceshi")

          $("#clazzIdSelect").html(htmls);
          form.render('select');//需要渲染一下
        }
    });

    //执行一个laydate实例【日期选择】
    laydate.render({
      elem: '#startTime' //指定元素
      // ,show: true //直接显示
      ,trigger: 'click' //采用click弹出
      ,theme: 'molv'
      ,format: 'yyyy-MM-dd HH:mm:ss' //可任意组合
      ,type: 'datetime'
    });
    //执行一个laydate实例【日期选择】
    laydate.render({
      elem: '#deadline' //指定元素
      // ,show: true //直接显示
      ,trigger: 'click' //采用click弹出
      ,theme: 'molv'
      ,format: 'yyyy-MM-dd HH:mm:ss' //可任意组合
      ,type: 'datetime'
    });

    //监听搜索
    form.on('submit(LAY-app-details-search)', function(data){
      var field = data.field;


      if(field.clazzId != -1){
        admin.req({
          url: layui.setter.reqUrl + '/homework/findHomeworkClazzByHomeworkIdAndClazzId' //实际使用请改成服务端真实接口
          ,type: 'post'
          ,data: {
            clazzId: field.clazzId
            ,homeworkId: field.homeworkId
          }
          ,done: function(res){
            $("#curClazzNmae").html(res.data.clazzName);
            $("#curClazzSubmitted").html(res.data.submitted);
            $("#curClazzNoSubmitted").html(res.data.total - res.data.submitted);
          }
        });
      }else{
        admin.req({
          url: layui.setter.reqUrl + '/homework/findHomeworkById' //实际使用请改成服务端真实接口
          ,type: 'post'
          ,data: {
            id: homeworkId
          }
          ,done: function(res){
            $("#curClazzNmae").html("作业总计");
            $("#curClazzSubmitted").html(res.data.submitted);
            $("#curClazzNoSubmitted").html(res.data.total - res.data.submitted);
          }
        });
      }

      
      //执行重载
      table.reload('LAY-app-details-list', {
        where: field
      });
    });


    var $ = layui.$, active = {
      downAll: function(){

        var options =$("#clazzIdSelect option:selected"); //获取选中的项

        console.log(options.val())

        if(options.clazzId == -1) {
          window.open(layui.setter.reqUrl + "/homework/downAll?"
                  + "homeworkId=" + homeworkId
          );
        }else{
          window.open(layui.setter.reqUrl + "/homework/downAll?"
                  + "homeworkId=" + homeworkId
                  + "&clazzId=" + options.val()
          );
        }

      },
      checkAll: function(){
        var options =$("#clazzIdSelect option:selected"); //获取选中的项
        if(options.clazzId == -1) {

          admin.req({
            url: layui.setter.reqUrl + '/homework/checkAll' //实际使用请改成服务端真实接口
            ,data: {
              "homeworkId":homeworkId,
            }
            ,type: 'post'
            ,done: function(res){
              table.reload('LAY-app-content-list');
              layer.msg('查重完毕');
            }
          });
        }else{
          admin.req({
            url: layui.setter.reqUrl + '/homework/checkAll' //实际使用请改成服务端真实接口
            ,data: {
              "homeworkId":homeworkId,
              "clazzId":options.val(),
            }
            ,type: 'post'
            ,done: function(res){
              table.reload('LAY-app-content-list');
              layer.msg('查重完毕');
            }
          });
        }
        admin.req({
          url: layui.setter.reqUrl + '/homework/checkAll' //实际使用请改成服务端真实接口
          ,data: JSON.stringify(checkData)
          ,type: 'post'
          ,contentType:'application/json'
          ,done: function(res){
            table.reload('LAY-app-content-list');
            layer.msg('已删除');
          }
        });
        // table.reload('LAY-app-content-list');
        // layer.msg('已删除');
      }
    }; 

    $('.layui-btn.layuiadmin-btn-list').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

  });
  </script>
</body>
</html>
