

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 内容系统 - 文章列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">学生姓名</label>
            <div class="layui-input-inline">
              <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">所属班级</label>
            <div class="layui-input-inline" >
              <select name="clazzId" id="clazzSelect" lay-search>
                <option value="">不选择</option>
              </select>
            </div>
          </div>

          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-student-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>



      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-list" data-type="batchdel">删除</button>
          <button class="layui-btn layuiadmin-btn-list" lay-event="addListByImport" id="addListByImport" data-type="addListByImport">批量导入</button>
          <button class="layui-btn layui-btn-primary layuiadmin-btn-list" data-type="downStudentTemp" >
            <i class="layui-icon layui-icon-download-circle"></i>下载导入模板
          </button>
        </div>
        <table id="LAY-app-student-list" lay-filter="LAY-app-student-list"></table> 
        <script type="text/html" id="buttonTpl">
          {{#  if(d.state == 1){ }}
            <button class="layui-btn layui-btn-xs">可使用</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">不可用</button>
          {{#  } }}
        </script>
        <script type="text/html" id="table-student-list">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
      </div>
    </div>
  </div>

  <script src="../../../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
    ,managerlist: 'manager/managerlist'
  }).use(['index' ,'managerlist', 'table'], function(){
    var table = layui.table
    ,admin = layui.admin
    ,upload = layui.upload
    ,form = layui.form;
    
    //监听搜索
    form.on('submit(LAY-app-student-search)', function(data){
      var field = data.field;
    

      //执行重载
      table.reload('LAY-app-student-list', {
        where: field
      });
    });

    //带输入的选择框【查询科目】
    var htmls = '<option value="">不选择/option>'; //全局变量
    // var htmls = '<option value="">请输入or选择</option>'; //全局变量
    admin.req({
        url: layui.setter.reqUrl + '/clazz/listAll' //实际使用请改成服务端真实接口
        ,type: 'get'
        ,done: function(res){
          clazzList = res.data;
          for(var index in clazzList){
            htmls += '<option value = "' + clazzList[index].id + '">' + clazzList[index].name + '</option>'
          }
          $("#clazzSelect").html(htmls);
          form.render('select');//需要渲染一下
        }
    });

    
    var $ = layui.$, active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-app-student-list')
        ,checkData = checkStatus.data; //得到选中的数据

        console.log(JSON.stringify(checkData))
        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
      
        layer.confirm('确定删除吗？', function(index) {
          admin.req({
            url: layui.setter.reqUrl + '/student/delForManager' //实际使用请改成服务端真实接口
            ,data: JSON.stringify(checkData)
            ,type: 'post'
            ,contentType:'application/json'
            ,done: function(res){
              table.reload('LAY-app-student-list');
              layer.msg('已删除');
            }
          });
        });
      },
      downStudentTemp: function(){
        window.open(layui.setter.reqUrl + "/student/downStudentTemp");
      },
      addListByImport: function(){

      }
    };

    //执行实例【文件上传】
    uploadInst = upload.render({
      elem: '#addListByImport' //绑定元素
      ,url: layui.setter.reqUrl + '/student/addListByImport' //上传接口
      ,accept: 'file' //允许上传的文件类型
      ,done: function(res){
        if(res.code == 0){
          //上传完毕回调
          layer.msg('导入注册完成，注册过的账号已经忽略！');
        }else{
          //请求异常回调
          layer.msg('导入注册失败（服务器业务异常），请务必重新上传文件！');
        }
      }
      ,error: function(){
        //请求异常回调
        layer.msg('导入注册失败（服务器上传异常），请务必重新上传文件！');
      }
    });




    $('.layui-btn.layuiadmin-btn-list').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

  });
  </script>
</body>
</html>
